/includes/affiliate-link-finder/vendor/
/includes/affiliate-link-finder/keys.json
/includes/affiliate-link-finder/affiliates/awin/awin-feed/
/includes/affiliate-link-finder/affiliates/end/end-feed/
/includes/affiliate-link-finder/affiliates/kickgame/kickgame-feed/
/includes/affiliate-link-finder/affiliates/webgains/webgains-feed/
.ftpconfig
affiliate-link-finder.zip
